<div>
  <mat-tab-group>
    <mat-tab label="Orders Placed">

      <div *ngIf="checkedoutOrders$|async as orders">
        <div *ngIf="orders.length != 0; else emptyCheckout">
          <mat-card *ngFor="let order of orders">
            <p>OrderID: {{order.orderID}}</p>
            <p>cartID: {{order.cartID}}</p>

            <mat-list>
              <mat-list-item *ngFor="let item of order.items">

                <img matListAvatar [src]="item.url" alt="...">

                <h4 mat-line>{{item.title}} ( SGD {{item.price}})</h4>
                <!-- <p mat-line> SGD {{item.price}} </p> -->
                <p mat-line> Quantity {{item.qty}} </p>
                <p mat-line>Total: SGD {{item.price * item.qty}}</p>


              </mat-list-item>
            </mat-list>


            <!-- <span>{{order|json}}</span> -->
            <mat-card-actions>
              <p>Status: {{order.state}}</p>
            </mat-card-actions>
          </mat-card>
        </div>

        <ng-template #emptyCheckout>
          <mat-card>
            <mat-card-title> You have nothing to checkout...</mat-card-title>
          </mat-card>
          <!-- <app-fab-action [fabIcon]="'add'" (fabActionEvent)="fabAction($event)">
          </app-fab-action> -->
        </ng-template>

      </div>

    </mat-tab>
    <mat-tab label="Orders Received">
      <div *ngIf="receivedOrders$|async as orders">
        <div *ngIf="orders.length != 0; else noOrders">
          <mat-card *ngFor="let order of orders">
            <p>OrderID: {{order.orderID}}</p>
            <p>cartID: {{order.cartID}}</p>
      
            <mat-list>
              <mat-list-item *ngFor="let item of order.items">
      
                <img matListAvatar [src]="item.url" alt="...">
      
                <h4 mat-line>{{item.title}} ( SGD {{item.price}})</h4>
                <!-- <p mat-line> SGD {{item.price}} </p> -->
                <p mat-line> Quantity {{item.qty}} </p>
                <p mat-line>Total: SGD {{item.price * item.qty}}</p>
      
      
              </mat-list-item>
            </mat-list>
      
      
            <!-- <span>{{order|json}}</span> -->
            <mat-card-actions>
              <p>Status: {{order.state}}</p>
            </mat-card-actions>
          </mat-card>
        </div>
      
        <ng-template #noOrders>
          <mat-card>
            <mat-card-title> No orders for now...</mat-card-title>
          </mat-card>
          <!-- <app-fab-action [fabIcon]="'add'" (fabActionEvent)="fabAction($event)">
                </app-fab-action> -->
        </ng-template>
      
      </div>
    </mat-tab>
  </mat-tab-group>
</div>