<div>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">call_made</mat-icon>
         Orders Placed
      </ng-template>

      <div *ngIf="checkedoutOrders$|async as orders">
        <div *ngIf="orders.length != 0; else emptyCheckout">
          <mat-card *ngFor="let order of orders">
            <p>OrderID: {{order.orderID}}</p>

            <mat-list>
              <mat-list-item *ngFor="let item of order.items">
                <img matListAvatar [src]="item.url" alt="...">
                <h4 mat-line>{{item.title}} ( SGD {{item.price}})</h4>
                <!-- <p mat-line> SGD {{item.price}} </p> -->
                <p mat-line> Quantity {{item.qty}} </p>
                <p mat-line>Total: SGD {{item.price * item.qty}}</p>
              </mat-list-item>
            </mat-list>

            <mat-card-actions fxLayout="row">
              <h3 style="color: yellowgreen; margin-top: 10px;">{{order.state}}</h3>
              <span class="spacer"></span>
              <button mat-icon-button (click)="deleteOrder(order.id)">
                <mat-icon color="accent">clear</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>

        <ng-template #emptyCheckout>
          <mat-card>
            <mat-card-title> You have nothing to checkout...</mat-card-title>
          </mat-card>
          </ng-template>

      </div>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">call_received</mat-icon>
        Orders Received
      </ng-template>
      <div *ngIf="receivedOrders$|async as orders">
        <div *ngIf="orders.length != 0; else noOrders">
          <mat-card *ngFor="let order of orders">
            <p>cartID: {{order.cartID}}</p>
      
            <mat-list>
              <mat-list-item *ngFor="let item of order.items">
      
                <img matListAvatar [src]="item.url" alt="...">
      
                <h4 mat-line>{{item.title}} ( SGD {{item.price}})</h4>
                <!-- <p mat-line> SGD {{item.price}} </p> -->
                <p mat-line> Quantity {{item.qty}} </p>
                <p mat-line>Total: SGD {{item.price * item.qty}}</p>
      
      
              </mat-list-item>
            </mat-list>
    
            <mat-card-actions fxLayout="row">
              <h3 style="color: yellowgreen; margin-top: 10px;">{{order.state}}</h3>
              <span class="spacer"></span>
              <button mat-icon-button (click)="cancelOrder(order.id)">
                <mat-icon color="accent">clear</mat-icon>
              </button>
              <button mat-icon-button (click)="confirmOrder(order.id)">
                <mat-icon color="primary">done</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      
        <ng-template #noOrders>
          <mat-card>
            <mat-card-title> No orders for now...</mat-card-title>
          </mat-card>
          </ng-template>
      
      </div>
    </mat-tab>
  </mat-tab-group>
</div>