<mat-card *ngIf="fooditem as fi" style="max-width:380px; padding-bottom: 0">

    <div *ngIf="fooditem.images[0].url as previewURL">
        <img mat-card-image [src]="previewURL" style="height: 220px">
    </div>

    <div fxLayout="row wrap">
        <h3 fxFlex="0 1 50" [style.color]="fi.isNonVeg? 'red':'green'">{{fi.title}}</h3>
        <span class="spacer"></span>

        <h3>SGD {{fi.price}}</h3>
    </div>

    <mat-card-content>
        <h3>[{{fi.category}}] . [{{fi.cuisine}}]</h3>
        <h3>Availability: [{{ fi.availability }}]</h3>
    </mat-card-content>

    <div fxLayout="row wrap">
        <h3>
            <mat-icon>room_service</mat-icon>
        </h3>
        <h4>{{fi.serving}} persons</h4>

        <span class="spacer"></span>

        <h3>
            <mat-icon>schedule</mat-icon>
        </h3>
        <h4> {{fi.orderTime}} {{fi.orderType == 'instant'? 'minutes':'hours'}} </h4>

        <span class="spacer"></span>

        <h3>
            <mat-icon>place</mat-icon>
        </h3>
        <h4>1.0 km</h4>
    </div>

</mat-card>