<div fxLayout="column" fxLayout.xs="column">
  <div *ngIf="sellers.length != 0; else emptyCart">

  <mat-card *ngFor="let ds of sellers">
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" style="vertical-align: middle">
      <h3>{{ds.name}}</h3>
      <button mat-icon-button (click)="navigateToChatRoute(ds.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <mat-card-content>
    <app-cart-list
      [cartID]="cartID" 
      [sellerID]="ds.id" 
      (qtyChange)="manageItemCount($event)" 
      (deleteItem)="deleteItem($event)"
      (removeSeller)="removeSeller($event)">
    </app-cart-list>
    </mat-card-content>
    Total Payable: SGD 10

    <mat-card-actions align="right">
      
      <!-- <mat-chip-list>
         Total: 20
        <mat-chip color="accent">Pending</mat-chip> -->
      
      <button mat-stroked-button (click)="navigateToChatRoute(ds.id)">
        <mat-icon color="primary">done</mat-icon>
      </button>
      <!-- </mat-chip-list> -->
    </mat-card-actions>

  </mat-card>

  <mat-divider></mat-divider>
  <!-- <button mat-stroked-button style="float: right;">Add more items</button> -->
  </div>

  <ng-template #emptyCart>
    <mat-card>
      <mat-card-title> Your Cart is empty. Go Shopping :)</mat-card-title>
    </mat-card>
  </ng-template>

  <app-fab-action 
  [fabIcon]="sellers.length==0?'add':'done'" (fabActionEvent)="fabAction($event)">
</app-fab-action>
</div>