/* You can add global styles to this file, and also import other style files */

* {
  font-weight: normal;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

app-toolbar {
  position: fixed; 
  top: 0; 
  z-index: 2; 
  width: 100%;
}

app-fab-action {
  position: fixed;
  bottom: 20px;
  right: 20px;
}


.spacer {
  flex: 1 1 auto;
}